@use "../util/functions" as f;


.demo {
    text-align: center;
    background-color: var(--color-silver);
    padding: 2rem 0;

    @media (min-width: 768px) {
        display: grid;
        justify-items: center;
    }

    & h1 {
        color: hsl(0, 0%, 0%) !important;
        padding: 2rem 0;

        @media (min-width: 768px) {
            width: f.rem(887);
            
        }
    }
}
