@use "../util/" as u;

.header {
  background-color: var(--color-silver);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6em; //its for match the navbar height

  
}
