@use "../global/typography" as typo;

.header {
  background-color: var(--color-silver);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6em; //its for match the navbar height

  &__span {
    color: var(--color-primary);
  }

  &__para {
    @include typo.body-2;
    color: var(--color-grey);
  }
}
