:root {
    /* Neutral */
    --color-black: hsl(0, 0%, 0%);
    --color-d-grey: hsla(0, 0%, 13%, 1);
    --color-grey: hsla(0, 0%, 44%, 1);
    --color-l-grey: hsl(0, 0%, 73%);
    --color-grey-blue: hsl(210, 20%, 75%);
    --color-silver: hsl(210, 33%, 96%);
    --color-white: hsl(0, 0%, 100%);
  
    /* Primary */
    --color-primary: hsla(122, 39%, 49%, 1);
    --color-secondary: hsl(210, 15%, 14%);
    --color-info: hsl(210, 89%, 58%);
  
    /* Color Shade */
    --color-shade-1: hsl(123, 60%, 44%);
    --color-shade-2: hsl(123, 65%, 36%);
    --color-shade-3: hsl(123, 68%, 30%);
    --color-shade-4: hsl(123, 75%, 20%);
    --color-shade-5: hsl(123, 80%, 12%);
  
    /* Color Tint */
    --color-tint-1: hsl(123, 47%, 59%);
    --color-tint-2: hsl(123, 47%, 67%);
    --color-tint-3: hsl(123, 47%, 76%);
    --color-tint-4: hsl(123, 47%, 86%);
    --color-tint-5: hsl(123, 47%, 94%);
  
    /* Action */
    --color-warning: hsl(48, 89%, 55%);
    --color-error: hsl(0, 77%, 56%);
    --color-success: hsl(123, 60%, 30%);
  }