/* Sass Variables */
// Neutral
$color-black: #263238;
$color-d-grey: #4D4D4D;
$color-grey: #717171;
$color-l-grey: #B9B9B9;
$color-grey-blue: #ABBED1;
$color-silver: #F5F7FA;
$color-white: #FFFFFF;

// Primary
$color-primary: #28C8B8;
$color-secondary: #263238;
$color-info: #2194F3;

// Color Shade
$color-shade-1: #43A046;
$color-shade-2: #388E3B;
$color-shade-3: #237D31;
$color-shade-4: #1B5E1F;
$color-shade-5: #103E13;

// Color Tint
$color-tint-1: #66BB69;
$color-tint-2: #81C784;
$color-tint-3: #A5D6A7;
$color-tint-4: #C8E6C9;
$color-tint-5: #E8F5E9;

// Action
$color-warning: #FBC02D;
$color-error: #E53B35;
$color-success: #2E7D31;